.title-container {
  min-height: 300px;
}

.title {
  font-family: Major Mono Display;
  text-align: center;
  font-size: 2em;
  @media (min-width: 700px) {
    font-size: 3em;
  }
}

.subtitle {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.25em;
  padding-top: 15px;
  text-align: center;
  @media (min-width: 700px) {
    font-size: 1.5em;
  }
}

.example-header-image {
  background-image: url('../../../assets/img/gmp_logo.png');
  background-size: cover;
  margin-right: 10px;
}

.card-container {
  margin: 20px;
  .mat-card-content {
    font-size: 16px;
  }
}
