.example-header-image {
  background-image: url('../../../../../assets/img/gmp_logo.png');
  background-size: cover;
  margin-right: 10px;
}

.card-container {
  margin: 10px;
  min-width: 80%;
}

.congrats-msg {
  font-size: 1.5em;
  text-align: center;
}

.congrats-msg-special {
  font-size: 1.5em;
  font-family: Major Mono Display;
  text-align: center;
}
