<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="blacklist.domain">
    <th mat-header-cell *matHeaderCellDef>domain</th>
    <td mat-cell *matCellDef="let element">{{element.blacklist.domain}}</td>
  </ng-container>

  <ng-container matColumnDef="blacklist.ip">
    <th mat-header-cell *matHeaderCellDef>ip</th>
    <td mat-cell *matCellDef="let element">{{element.blacklist.ip}}</td>
  </ng-container>

  <ng-container matColumnDef="falsePositive">
    <th fxHide fxShow.gt-sm mat-header-cell *matHeaderCellDef>false positive</th>
    <td fxHide fxShow.gt-sm mat-cell *matCellDef="let element">{{element.falsePositive | nullBoolean}}</td>
  </ng-container>

  <ng-container matColumnDef="deposit">
    <th fxHide fxShow.gt-sm mat-header-cell *matHeaderCellDef>deposit</th>
    <td fxHide fxShow.gt-sm mat-cell *matCellDef="let element">{{element.deposit | nullBoolean}}</td>
  </ng-container>

  <ng-container matColumnDef="createdDate">
    <th mat-header-cell *matHeaderCellDef>time</th>
    <td mat-cell *matCellDef="let element">{{element.createdDate | date:'MM/dd/y HH:mm'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>
