table {
  width: 100%;
}

th.mat-header-cell {
  font-size: 18px;
  font-family: Major Mono Display;
  color: black;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: black;
}
