<table mat-table [dataSource]="detections">

  <ng-container matColumnDef="blacklist.domain">
    <th mat-header-cell *matHeaderCellDef>Domain</th>
    <td mat-cell *matCellDef="let element">{{element.blacklist.domain}}</td>
  </ng-container>

  <ng-container matColumnDef="blacklist.ip">
    <th mat-header-cell *matHeaderCellDef>IP</th>
    <td mat-cell *matCellDef="let element">{{element.blacklist.ip}}</td>
  </ng-container>

  <ng-container matColumnDef="falsePositive">
    <th mat-header-cell *matHeaderCellDef>False Positive</th>
    <td mat-cell *matCellDef="let element">{{element.falsePositive | nullBoolean}}</td>
  </ng-container>

  <ng-container matColumnDef="deposit">
    <th mat-header-cell *matHeaderCellDef>Deposit</th>
    <td mat-cell *matCellDef="let element">{{element.deposit | nullBoolean}}</td>
  </ng-container>

  <ng-container matColumnDef="createdDate">
    <th mat-header-cell *matHeaderCellDef>Time</th>
    <td mat-cell *matCellDef="let element">{{element.createdDate | date:'M/d/y HH:mm'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
