.chart-wrapper {
  width: 90%;
  height: 370px;
  min-width: 300px;
  margin: auto;
}

.congrats-msg {
  font-size: 1.25em;
  text-align: center;
}

.congrats-msg-special {
  font-size: 1.5em;
  font-family: Major Mono Display;
  text-align: center;
}

.tick {
  font-size: 14px;
}

.gridline {
  stroke: currentColor;
  stroke-width: 1px;
  opacity: 0.25;
}

.legend {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  alignment-baseline: middle;
}

.title {
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Major Mono Display";
}
