@import "../../../../colors";

.title {
  font-family: Major Mono Display;
  font-size: 4em;
  text-align: center;
}

.subtitle {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.5em;
  padding-top: 15px;
  text-align: center;
}

.congrats-img {
  padding: 15px;
}

.huge-icon-button {
  transform: scale(3);
}

.huge-button {
  background-color: $gmp-green;
  color: whitesmoke;
  width: 100px;
  height: 100px;
}
