.title {
  font-family: Catamaran;
  font-size: 3em;
  text-align: center;
}

.subtitle {
  font-family: Catamaran;
  font-size: 1.5em;
  text-align: center;
}

.detections-container {
  margin-top: 20px;
  padding: 20px;
}

.table-headline {
  margin-bottom: 20px;
  font-family: Catamaran;
  font-size: 2em;
}
