<div fxLayout="column" class="full-height">
  <div fxFlex="50" fxLayout="column" fxLayoutAlign="center" style="min-height: 50%">
    <div class="title">Welcome to your GMP dashboard!</div>
    <div class="subtitle">Here you could see your recent and historical activity</div>
  </div>
  <div fxFlex="50" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-around center">
      <div>
        <button [routerLink]="'/dashboard/weekly'" mat-fab aria-label="Recent accesses" class="huge-button">
          <mat-icon class="huge-icon-button">event_note</mat-icon>
        </button>
      </div>
      <div class="subtitle">Weekly accesses</div>
    </div>
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-around center">
      <div>
        <button [routerLink]="'/dashboard/historical'" mat-fab aria-label="Historical accesses" class="huge-button">
          <mat-icon class="huge-icon-button">show_chart</mat-icon>
        </button>
      </div>
      <div class="subtitle">Historical accesses</div>
    </div>
  </div>
</div>
