@import "colors";

.large-icon-button {
  transform: scale(2);
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.green-color {
  color: $gmp-green;
}

.green-bg {
  background-color: $gmp-green;
  color: black;
}

.mat-drawer.sidenav-content {
  width: calc(100% - 50px);
  max-width: 400px;
  height: 100%;
  background-color: $gmp-white;
}

.sidenav-container {
  background-color: $gmp-white;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0);
}

.main-container {
  height: calc(100% - 64px);
}

.full-height {
  height: 100%;
}

.congrats-img {
  margin: 20px;
}

.congrats-title {
  text-align: center;
}
