<mat-drawer-container fxFill hasBackdrop="true">
  <mat-drawer class="sidenav-content" #drawer mode="push">
  </mat-drawer>
  <mat-drawer-content class="sidenav-container">
    <mat-toolbar class="position-fixed">
      <button mat-icon-button aria-label="Menu" (click)="drawer.toggle()">
        <mat-icon class="large-icon-button green-color">menu</mat-icon>
      </button>
      <div class="toolbar-spacer"></div>
      <button mat-icon-button aria-label="Account">
        <mat-icon class="large-icon-button green-color">account_circle</mat-icon>
      </button>
    </mat-toolbar>
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
