.example-header-image {
  background-image: url('../../../../../assets/img/gmp_logo.png');
  background-size: cover;
  margin-right: 10px;
}

.card-container {
  margin: 10px;
  min-width: 80%;
}

.congrats-msg {
  font-size: 1.5em;
  text-align: center;
}

.description-text {
  font-size: 15px;
}

mat-form-field {
  margin-top: 20px;
}
