<div fxLayout="row" fxLayoutAlign="center" class="full-height">
  <mat-card class="card-container">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Your latest accesses</mat-card-title>
      <mat-card-subtitle>Check your last visited websites</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="description-text">Select the limit of accesses you want to see</div>
      <mat-form-field>
        <mat-label>Limit</mat-label>
        <mat-select [(value)]="limit" (selectionChange)="onLimitChange()">
          <mat-option value="20">20</mat-option>
          <mat-option value="30">30</mat-option>
          <mat-option value="40">40</mat-option>
        </mat-select>
      </mat-form-field>
      <app-detections-table *ngIf="detections && detections.length > 0"
                            [detections]="detections"></app-detections-table>
      <div fxLayout="column" fxLayoutAlign="center center"
           *ngIf="detections && detections.length == 0">
        <div>
          <p class="congrats-msg">No detections found!</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
