<div fxFill fxLayout="column" class="historical-wrapper"
     *ngIf="lastSevenDaysAccesses && yearAccesses && itemAccesses">
  <div fxLayout.lt-sm="column" fxLayout.gt-sm="row" fxLayout.sm="column">
    <div class="graph-wrapper">
      <app-line-chart [data]="lastSevenDaysAccesses" [title]="'last 7 days'"></app-line-chart>
    </div>
    <div class="graph-wrapper">
      <app-bar-chart [data]="yearAccesses"
                     [title]="'year ' + currentYear"></app-bar-chart>
    </div>
  </div>
  <div fxLayout.lt-sm="column" fxLayout.gt-sm="row" fxLayout.sm="column">
    <div class="graph-wrapper">
      <app-pie-chart [data]="itemAccesses"
                     [title]="'by web (' + currentYear + ')'"></app-pie-chart>
    </div>
    <div class="graph-wrapper">

    </div>
  </div>
</div>
