.historical-wrapper {
  padding: 20px;
}

.graph-wrapper {
  width: 100%;
  margin: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 325px;
}

.graph-title {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-family: "Major Mono Display";
}
