<div fxFill fxLayout="column" class="historical-wrapper">
  <div fxLayout.lt-sm="column" fxLayout.gt-sm="row">
    <div class="graph-wrapper">
      <app-line-chart></app-line-chart>
    </div>
    <div class="graph-wrapper">
      <app-line-chart></app-line-chart>
    </div>
  </div>
  <div fxLayout.lt-sm="column" fxLayout.gt-sm="row">
    <div class="graph-wrapper">
      <app-line-chart></app-line-chart>
    </div>
    <div class="graph-wrapper">
      <app-line-chart></app-line-chart>
    </div>
  </div>
</div>
