// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gmp-colors-primary: (
  50: #a5d6a7,
  100: #a5d6a7,
  200: #a5d6a7,
  300: #a5d6a7,
  400: #a5d6a7,
  500: #a5d6a7,
  600: #81c784,
  700: #66bb69,
  800: #4caf4f,
  900: #43a046,
  A100: #a5d6bf,
  A200: #bcd6a5,
  A400: #8dbb64,
  A700: #79b149,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$gmp-colors-secondary: (
  50: #a5d6a7,
  100: #a5d6a7,
  200: #a5d6a7,
  300: #a5d6a7,
  400: #a5d6a7,
  500: #a5d6a7,
  600: #81c784,
  700: #66bb69,
  800: #4caf4f,
  900: #43a046,
  A100: #a5d6bf,
  A200: #bcd6a5,
  A400: #8dbb64,
  A700: #79b149,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$gmp-dashboard-primary: mat-palette($gmp-colors-primary);
$gmp-dashboard-accent: mat-palette($gmp-colors-secondary);

// The warn palette is optional (defaults to red).
$gmp-dashboard-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gmp-dashboard-theme: mat-light-theme((
  color: (
    primary: $gmp-dashboard-primary,
    accent: $gmp-dashboard-accent,
    warn: $gmp-dashboard-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($gmp-dashboard-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: whitesmoke
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.toast-title-gmp {
  font-weight: normal;
  font-size: 20px;
}
